@use "@carbon/styles";

.chat-wrapper {
  width: 100%;
  display: flex;
  height: calc(100% - 102px);
  flex-direction: column;
}

.chat-input-wrapper {
  position: fixed;
  bottom: 1px;
  width: 100%;
  display: flex;
  align-items: center;
}

.question-wrapper {
  display: flex;
  margin: 5px 0;
  justify-content: flex-end;
}

.question-tile {
  width: 400px;
}

.answer-wrapper {
  display: flex;
  margin: 5px 0;
}

.answer-tile {
  width: 56%;
  height: 50vh;

  margin: auto;
}

.send-button {
  height: 102px;
  display: flex;
  align-items: center;
  padding: 0;
}
